
  body{
    background-color: #C9BBCF;
  }
  hr {
    border-style:none;
    border-top-style: dotted;
    border-width:5px;
    border-color:grey;
    Width:10%;

  }
  img{
    height:200px;
  }
  h1{
    color:#1B2430;
  }
  h3{
    color:#1B2430;
  }
